@font-face {
    font-family: "Modak";
    src: url("../fonts/DFVN-Modak.ttf") format(truetype);
}

@font-face {
    font-family: "GochiHand";
    src: url("../fonts/DFVN-GochiHand.ttf") format(truetype);
}

:root {
    --heading: #E95322;
    --accent: #A8BBA3;
    --backgroundLight: #F4DA1F;
    --background2: #F7F4EA;
    --background3: #F3E9B5;
    --background4: #F5CB58;
    --text: #391713;
    --textLight: #F9F9F9;
    --paragraph: rgba(0, 0, 0, 0.6);
    --button: #E95322;
    --border: #D5D8DC;
    --light: #FFFFFF;
    --dark: #333333;
}


body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background-login.png");
    background-size: cover;
    background-position: -10%;
    background-repeat: no-repeat;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-form {
    width: 70%;
    height: 50%;
    margin-left: 45vw;
}

.login-form h1 {
    font: 3rem "Modak";
    color: var(--heading);
    text-align: center;
}

.login-form form {
    margin-top: 2em;
}

.login-form table {
    width: 100%;
}

.login-form label {
    font-size: 1.2rem;
}

input[type='email'],
input[type='password'] {
    width: 100%;
    outline: none;
    border: 1px solid var(--border);
    border-radius: .5em;
    padding: 6px 14px;
    margin-bottom: 1em;
    font-size: 1.2rem;
    color: var(--paragraph);
    background-color: var(--light);
    box-shadow: 2px 2px 5px var(--paragraph);
}

.login-form button {
    font-size: 1.5rem;
    background-color: var(--button);
    color: var(--textLight);
    padding: 10px 22px 6px;
    margin-top: 1.2em;
    border-radius: .5em;
}