@font-face {
  font-family: "Modak";
  src: url("../assets/fonts/DFVN-Modak.ttf") format(truetype);
}

@font-face {
  font-family: "GochiHand";
  src: url("../assets/fonts/DFVN-GochiHand.ttf") format(truetype);
}

* {
  font-family: "GochiHand";
}

.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  background: #F7F4EA;
  color: #E95322;
  padding: 70px 20px 20px;
  box-shadow: 10px 10px 10px #000000;
}

.sidebar h2 {
  font: 2rem "Modak";
  margin: 1rem 0;
  text-align: center;
  border-bottom: 2px solid #F4DA1F;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: #E95322;
  text-decoration: none;
  margin: 10px 0;
  gap: .5rem;
  font: 1.2rem "GochiHand";
}

.main-content {
  flex: 1;
  background: #f5f5f5;
  padding: 70px 20px 20px;
}

/* Header */
.header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4DA1F;
  position: fixed;
  top: 0;
  left: 0;
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
}

.leftHeader img {
  width: 50px;
}

.rightHeader {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

ion-icon {
  font-size: 20px;
}