@font-face {
  font-family: "Modak";
  src: url("../src/assets/fonts/DFVN-Modak.ttf") format(truetype);
}

@font-face {
  font-family: "GochiHand";
  src: url("../src/assets/fonts/DFVN-GochiHand.ttf") format(truetype);
}

:root {
  --heading: #e95322;
  --accent: #a8bba3;
  --backgroundLight: #f4da1f;
  --background2: #f7f4ea;
  --background3: #f3e9b5;
  --background4: #f5cb58;
  --text: #391713;
  --textLight: #f9f9f9;
  --paragraph: rgba(0, 0, 0, 0.6);
  --button: #e95322;
  --border: #d5d8dc;
  --light: #ffffff;
  --dark: #333333;
}

* {
  font-family: "GochiHand";
}

body {
  margin: 0;
  background-image: url("./assets/images/background-login.png");
  background-size: cover;
  background-position: -10%;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.app {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

/* Slidebar */
.sidebar {
  background: #f7f4ea;
  color: var(--heading);
  padding: 70px 0;
  transition: all 0.25s linear;
}

.sidebar.open {
  width: 200px;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar h2 {
  width: 80%;
  font: 2rem "Modak";
  margin: 1rem auto;
  text-align: center;
  border-bottom: 2px solid var(--backgroundLight);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding-bottom: 0.2rem;
}

.sidebar a,
.sidebar button {
  display: flex;
  align-items: center;
  color: var(--heading);
  text-decoration: none;
  padding: 10px 20px;
  gap: 0.5rem;
  font: 1.2rem "GochiHand";
}

.sidebar li .open {
  display: block;
}

.sidebar li .collapsed {
  display: none;
}

.sidebar li:hover {
  background-color: var(--background3);
}

.sidebar-item.active {
  background-color: var(--light);
}

/* Header */
.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backgroundLight);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  z-index: 9999;
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
}

.leftHeader img {
  width: 70px;
  height: 70px;
}

.rightHeader {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

ion-icon {
  font-size: 24px;
  cursor: pointer;
}

.menuIcon {
  font-size: 42px;
}

.personIcon {
  font-size: 28px;
}

.navbar {
  position: absolute;
  top: 110%;
  right: 10%;
  width: 250px;
  background-color: var(--accent);
  border-radius: 12px;
  display: none;
  transition: all 0.75s linear;
}

.navbar h4 {
  font: 20px "Modak";
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 8px;
  color: var(--heading);
  border-bottom: 1px solid var(--background3);
}

.navbar::before {
  content: "";
  position: absolute;
  top: -12%;
  right: 30%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid #a8bba3;
  transition: all 1s ease-out;
}

.notifyIcon:hover .navbar {
  display: block;
}

.navbar ul {
  list-style: none;
  padding-left: 0;
}

.navbar ul li {
  margin-bottom: 2px;
  padding: 0.2rem 1.5rem;
}

.navbar ul li:hover {
  background-color: var(--background3);
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.3s linear;
}

.openSearch {
  background-color: var(--light);
  padding-left: 12px;
  border-radius: 8px;
  border: 1px solid var(--paragraph);
}

.searchContainer input {
  width: 400px;
  padding: 6px 12px 6px 0;
  border-radius: 8px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  font-size: 18px;
  color: var(--paragraph);
  display: none;
}

/* Content */
.main-content {
  background: var(--textLight);
  padding: 70px 20px 20px;
  height: auto;
}

button {
  cursor: pointer;
}
